.reyting2 {
    width : 850px;
    height: auto;
}

.reytingchart__p {
    display        : flex;
    justify-content: center;
    align-items    : flex-start;
    width          : 70%;
    height         : 41px;
    top            : 1656px;
    left           : 150px;
    font-family    : Raleway;
    font-size      : 18px;
    font-weight    : 500;
    line-height    : 21px;
    letter-spacing : 0.015em;
    text-align     : left;
}